@font-face {
    font-family: 'Raleway-Light';
    src: url('./font/Raleway-Light.woff') format('woff');
    font-weight: normal;
}

:root {
    --default-font: 'Raleway-Light'
}

body {
    aspect-ratio: 16 / 9;
}


.header {
    /* Flex 설정 */
    display: flex;
    align-items: center;
    /* gap: 10%; */

    /* 마진 패딩 레이아웃 */
    margin: 0% 12%;
    padding: 2rem;

    font-family: var(--default-font);
    font-size: 1.5rem;
    font-weight: bold;
}

.title {
    font-size: 3rem;
    flex: 0.75;
}

.menubar {
    display: flex;
    align-items: center;
    gap: 10%;
    justify-content: flex-start;
    flex: 1;
}

.social {
    display: flex;
    gap: 3%;
    flex: 1;

    justify-content: flex-end;
    font-weight: bold;
}

.discord {
    color: #5865F2;
    text-decoration:none;
}

.github {
    color: #333;
}

.memberbox {
    /* margin: 2% 0%; */
    padding: 3% 13%;
    flex-direction: column;
    background-color: #Efefef;
    display: flex;
}

.membertitle {
    /* position: absolute; */
    font-size: 1.5%;
    /* height: 10%; */
    margin: 1% 0%;
}

.memberlist {
    display: flex;
    justify-content: space-between;
    
    gap: 3rem;
    
}



.memberbg {
    position: relative;
    display: flex;

    background-color: white;

    /* border: transparent 1px solid; */
    border-radius: 1rem;
    /* margin-bottom: 2%; */
    

    /* width: 100%; */
    width: calc(25% - 3rem);

    /* background-image: url('./image/FirstMember_Parfait.png'); */
    background-position: center center;
    background-size: cover;
    
    transition: all 0.25s ease-in-out;
}

.member {
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;

    backdrop-filter: blur(10px) brightness(130%);

    font-family: var(--default-font);
}

.profile {
    height: 4rem;
    width: 4rem;
}

.name {
    font-weight: bold;
    font-size: 1rem;
}

.detail {
    text-align: center;
}